{% macro page_header(title) -%}
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ title }}</h1>
  </div>
{%- endmacro %}

{% macro button(url, icon, type='default', size='sm', title='', confirm_msg='') -%}
  {% set btn_class = "btn btn-"+ size +" btn-"+ type %}
  {% set confirm_msg_class = "dialog-confirm" if confirm_msg else ""%}
  {% set sm_btn_style = "display: initial; padding-left: 8px; padding-right: 8px;" if size=='sm' else ""%}
  <a href='{{ url }}' title='{{ title }}' class="{{btn_class}} {{ confirm_msg_class }}" style="{{ sm_btn_style }}" confirm-message="{{ confirm_msg }}"><i class="{{ icon }}"></i></a>
{%- endmacro %}

{% macro switch_button(is_checked, is_disabled=False, url="", size='xs', title='', confirm_msg='') -%}
  {% set confirm_msg_class = "dialog-confirm" if confirm_msg else ""%}
  <label class="i-switch m-t-{{ size }} m-r">
    {% if url %}
    <a href="{{ url }}" class="{{ confirm_msg_class }}" confirm-message="{{ confirm_msg }}" title='{{ title }}'>
    {% endif %}
      <input {% if is_checked %}checked='' {% endif %} type="checkbox" value="y" {% if is_disabled %}disabled='' {% endif %}>
      <i></i>
    {% if url %}
    </a>
    {% endif %}
  </label>
{%- endmacro %}

{% macro yes_no_modal(id='', title='', text='') -%}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{ title }}">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
        </div>
        <div class="modal-body">
          {{ text }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Evet</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}