{% macro page_header(title) -%}
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ title }}</h1>
  </div>
{%- endmacro %}

{% macro button(url, icon, type='default', size='sm', title='', confirm_msg='') -%}
  {% set btn_class = "btn btn-"+ size +" btn-"+ type %}
  {% set confirm_msg_class = "dialog-confirm" if confirm_msg else ""%}
  {% set sm_btn_style = "display: initial; padding-left: 8px; padding-right: 8px;" if size=='sm' else ""%}
  <a href='{{ url }}' title='{{ title }}' class="{{btn_class}} {{ confirm_msg_class }}" style="{{ sm_btn_style }}" confirm-message="{{ confirm_msg }}"><i class="{{ icon }}"></i></a>
{%- endmacro %}

{% macro switch_button(is_checked, is_disabled=False, url="", size='xs', title='', confirm_msg='') -%}
  {% set confirm_msg_class = "dialog-confirm" if confirm_msg else ""%}
  <label class="i-switch m-t-{{ size }} m-r">
    {% if url %}
    <a href="{{ url }}" class="{{ confirm_msg_class }}" confirm-message="{{ confirm_msg }}" title='{{ title }}'>
    {% endif %}
      <input {% if is_checked %}checked='' {% endif %} type="checkbox" value="y" {% if is_disabled %}disabled='' {% endif %}>
      <i></i>
    {% if url %}
    </a>
    {% endif %}
  </label>
{%- endmacro %}

{% macro pagination(page_num, page_count, visible_count=5) -%}
  <ul class="pagination">
    <li class="footable-page-nav" data-page="first">
      <a class="footable-page-link" href="{{ set_parameters_of_url(request.url, {'page': 1}) }}">«</a>
    </li>
    <li class="footable-page-nav" data-page="prev">
      <a class="footable-page-link" href="{{ set_parameters_of_url(request.url, {'page':page_num - 1}) }}">‹</a>
    </li>
    <li id="page-prev-limit" class="footable-page" data-page="prev-limit">
      <a class="footable-page-link" onclick="show_pages(first_visible_page-5)">...</a>
    </li>
    {% for i in range(page_count) %}
    <li id="page-{{ i + 1 }}" class="footable-page" data-page="{{ i + 1 }}">
      <a class="footable-page-link" href="{{ set_parameters_of_url(request.url, {'page':i + 1}) }}">{{ i + 1 }}</a>
    </li>
    {% endfor %}
    <li id="page-next-limit" class="footable-page" data-page="next-limit">
      <a class="footable-page-link" onclick="show_pages(first_visible_page+5)">...</a>
    </li>
    <li class="footable-page-nav" data-page="next">
      <a class="footable-page-link" href="{{ set_parameters_of_url(request.url, {'page':page_num + 1}) }}">›</a>
    </li>
    <li class="footable-page-nav" data-page="last">
      <a class="footable-page-link" href="{{ set_parameters_of_url(request.url, {'page':page_count}) }}">»</a>
    </li>
  </ul>

  <p class="font-bold">Sayfa: {{ page_num }} / {{ page_count }}</p>

  <script>
    let first_visible_page = parseInt({{ page_num }} - {{ visible_count / 2 }}) + 1;
    let iter = null;
    function show_pages(first_page){
      first_visible_page = first_page;

      if(first_visible_page < 1){
        first_visible_page = 1;
      }
      else if (first_visible_page > {{ page_count - visible_count + 1 }}){
        first_visible_page = {{ page_count - visible_count + 1  }};
      }

      document.getElementById('page-prev-limit').classList.remove('visible');
      document.getElementById('page-next-limit').classList.remove('visible');
      for(let i = 1; i <= {{ page_count }}; i++){
        iter = document.getElementById('page-' + String(i))
        if (iter != null){
          iter.classList.remove('visible');
        }
      }

      for(let i = first_visible_page; i < first_visible_page + {{ visible_count }}; i++){
        iter = document.getElementById('page-' + String(i));
        if (iter != null){
          iter.classList.add('visible');
        }
      }

      console.log(first_visible_page, 1 + {{ visible_count / 2 }})
      console.log(first_visible_page, {{ page_count }} - {{ visible_count / 2 }})
      if(first_visible_page > 1 ){
        console.log("first")
        document.getElementById('page-prev-limit').classList.add('visible');
      }
      if(first_visible_page < {{ page_count }} - {{ visible_count }}){
        console.log("second")
        document.getElementById('page-next-limit').classList.add('visible');
      }
    }
    show_pages(first_visible_page);
  </script>
{%- endmacro %}