cexprtk==0.4.1
email-validator==2.2.0
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.4
passlib==1.7.4
phonenumbers==8.13.48
pony==0.7.19
psycopg2-binary==2.9.10
PyJWT==2.9.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.31.0
urllib3==2.6.3
Werkzeug==3.1.1
WTForms==3.2.1