  <aside id="aside" class="app-aside hidden-xs bg-dark">
      <div class="aside-wrap">
        <div class="navi-wrap">
          <!-- nav -->
          <nav ui-nav class="navi clearfix">
            <ul class="nav">
              {% if g.sandik %}
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>{{ g.sandik.name }}</span>
              </li>
              <li id="sandik-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
{#                  <b class="badge bg-info pull-right">3</b>#}
                  <i class="fa fa-wallet"></i>
                  <span>Sandık</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.sandik_summary_page', sandik_id=g.sandik.id) }}">
                      <span>Özet</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.trust_links_page', sandik_id=g.sandik.id) }}">
                      <span>Güven halkam</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.sandik_detail_page', sandik_id=g.sandik.id) }}">
                      <span>Sandık detayı</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="member-transactions-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <b class="badge bg-info pull-right">3</b>
                  <b class="badge bg-danger pull-right">3</b>
                  <i class="fa fa-wallet"></i>
                  <span>İşlemler</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>İşlem ekle</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <b class="badge bg-danger pull-right">3</b>
                      <span>Ödemelerim</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Para giriş/çıkışları</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Sandık işlemlerim</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <b class="badge bg-info pull-right">3</b>
                      <span>Onay bekleyenler</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="line dk"></li>
              {% if current_user.is_authenticated and current_user.has_permission(sandik=g.sandik, permission="write") %}
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>Sandık yönetimi</span>
              </li>
              <li id="transactions-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <b class="badge bg-info pull-right">3</b>
                  <i class="fa fa-wallet"></i>
                  <span>İşlemler</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>İşlem ekle</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Para giriş/çıkışları</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Sandık işlemleri</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <b class="badge bg-info pull-right">3</b>
                      <span>Onay bekleyenler</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="members-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <b class="badge bg-info pull-right">3</b>
                  <i class="fa fa-wallet"></i>
                  <span>Üyeler</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Üye listesi</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Üye ekle</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <b class="badge bg-info pull-right">3</b>
                      <span>Onay bekleyenler</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="authority-types-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa fa-wallet"></i>
                  <span>Üye yetkileri</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Üye yetkileri</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Yetkili üyeler</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="line dk"></li>
              {% endif %}
              {% endif %}
              {% if current_user.is_admin()  %}
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>Site yöneticisi</span>
              </li>
              <li id="web-users-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
{#                  <b class="badge bg-info pull-right">3</b>#}
                  <i class="icon icon-user"></i>
                  <span>Site kullanıcıları</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>Site kullanıcıları</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('auth_page_bp.web_users_page') }}">
                      <span>Kullanıcı listesi</span>
                    </a>
                  </li>
                </ul>
              </li>
              {% else %}
              {% endif %}
            </ul>
<!--            <ul class="nav">-->
<!--              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">-->
<!--                <span>Navigation</span>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="{{ url_for("general_page_bp.index_page") }}">-->
<!--                  <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>-->
<!--                  <span class="font-bold">Ana panel</span>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="line dk"></li>-->
<!--              <li id="activity-dropdown">-->
<!--                <a href="#" class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="fa fa-bookmark"></i>-->
<!--                  <span>Etkinlikler</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href="#">-->
<!--                      <span>Etkinlikler</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Tüm etkinlikler</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Etkinlik oluştur</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li id="zoom-meeting-dropdown">-->
<!--                <a href="#" class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="fa fa-users"></i>-->
<!--                  <span>Zoom</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href="#">-->
<!--                      <span>Zoom</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Tüm toplantılar</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Toplantı oluştur</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Katılımcı yoklaması</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li id="form-dropdown">-->
<!--                <a href class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="fa fa-file-text-o"></i>-->
<!--                  <span>Formlar</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href>-->
<!--                      <span>Formlar</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Tüm formlar</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Form oluştur</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Yetkililer</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="line dk"></li>-->
<!--              <li id="email-dropdown">-->
<!--                <a href="#" class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="fa fa-envelope"></i>-->
<!--                  <span>Toplu epostalar</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href="#">-->
<!--                      <span>Toplu eposta</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="{">-->
<!--                      <span>Tüm toplu epostalar</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Toplu eposta gönder</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="line dk"></li>-->
<!--              <li id="cash-account-dropdown">-->
<!--                <a href class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="icon icon-wallet"></i>-->
<!--                  <span>Cüzdanlar</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href>-->
<!--                      <span>Cüzdanlar</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Tüm cüzdanlar</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Cüzdanlar oluştur</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Yetkililer</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="line dk"></li>-->
<!--              <li id="contact-book-dropdown">-->
<!--                <a href="#" class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="icon icon-user"></i>-->
<!--                  <span>Rehber</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href="#">-->
<!--                      <span>Rehber</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Rehber listesi</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Rehber oluştur</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Yetkililer</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li id="cb-mission-dropdown">-->
<!--                <a href="#" class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="icon icon-user"></i>-->
<!--                  <span>Rehber görevi</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href="#">-->
<!--                      <span>Rehber görevi</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Tüm görevler</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Görev oluştur</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Yetkililer</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="line dk"></li>-->
<!--              <li id="person-dropdown">-->
<!--                <a href="#" class="auto">-->
<!--                  <span class="pull-right text-muted">-->
<!--                    <i class="fa fa-fw fa-angle-right text"></i>-->
<!--                    <i class="fa fa-fw fa-angle-down text-active"></i>-->
<!--                  </span>-->
<!--{#                  <b class="badge bg-info pull-right">3</b>#}-->
<!--                  <i class="icon icon-user"></i>-->
<!--                  <span>Kişiler</span>-->
<!--                </a>-->
<!--                <ul class="nav nav-sub dk">-->
<!--                  <li class="nav-sub-header">-->
<!--                    <a href="#">-->
<!--                      <span>Kişiler</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Kişi listesi</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Kişi ekle</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Kişileri birleştir</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="">-->
<!--                      <span>Yetkililer</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
          </nav>
          <!-- nav -->
        </div>
      </div>
  </aside>
  <!-- / aside -->