  <aside id="aside" class="app-aside hidden-xs bg-dark">
      <div class="aside-wrap">
        <div class="navi-wrap">
          <!-- nav -->
          <nav ui-nav class="navi clearfix">
            <ul class="nav">
              {% if g.member %}
              <!-- Sandık menüleri-->
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>{{ g.sandik.name }}</span>
              </li>
              <li id="sandik-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa fa-wallet"></i>
                  <span>Sandık</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.sandik_summary_for_member_page', sandik_id=g.sandik.id) }}">
                      <span>Özet</span>
                    </a>
                  </li>
                  {% if g.sandik.is_type_with_trust_relationship() %}
                  <li>
                    <a href="{{ url_for('sandik_page_bp.trust_links_page', sandik_id=g.sandik.id) }}">
                      <span>Güven halkam</span>
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{{ url_for('sandik_page_bp.sandik_detail_page', sandik_id=g.sandik.id) }}">
                      <span>Sandık detayı</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="member-transactions-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-list"></i>
                  <span>İşlemler</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.debts_of_member_page', sandik_id=g.sandik.id) }}">
                      {% if g.member.get_unpaid_debts().count() > 0 %}
                      <b class="badge bg-danger pull-right">{{ g.member.get_unpaid_debts().count() }}</b>
                      {% endif %}
                      <span>Borçlarım</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.payments_of_member_page', sandik_id=g.sandik.id) }}">
                      <span>Ödemelerim</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.money_transactions_of_member_page', sandik_id=g.sandik.id) }}">
                      <span>Para giriş/çıkışları</span>
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}

              {% if g.sandik and current_user.has_permission(sandik=g.sandik, permission="read") %}
              <li class="line dk"></li>
              <!-- Sandık yönetimi menüleri-->
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>Sandık yönetimi</span>
              </li>
              <li id="management-transactions-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-list"></i>
                  <span>İşlemler</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.add_money_transaction_by_manager_page', sandik_id=g.sandik.id) }}">
                      <span>İşlem ekle</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.money_transactions_of_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Para giriş/çıkışları</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.payments_of_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Ödemeler</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.debts_of_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Borçlar</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Onay bekleyenler</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('transaction_page_bp.transactions_of_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Sandık işlemleri</span>
                    </a>
                  </li>
                  <li id="add-custom-transaction-dropdown">
                    <a href="#" class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <span>Sandık işlemi ekle</span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <a href="#">
                          <span>...</span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ url_for('transaction_page_bp.add_custom_contribution_by_manager_page', sandik_id=g.sandik.id) }}">
                          <span>&emsp;Aidat oluştur</span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ url_for('transaction_page_bp.add_money_transaction_for_debt_payment_by_manager_page', sandik_id=g.sandik.id) }}">
                          <span>&emsp;Borç ödemesi ekle</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li id="members-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  {% if g.sandik.applicant_web_users_set.count() > 0 %}
                  <b class="badge bg-info pull-right">{{ g.sandik.applicant_web_users_set.count() }}</b>
                  {% endif %}
                  <i class="fa-solid fa-users"></i>
                  <span>Üyeler</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.members_of_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Üye listesi</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.add_member_to_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Üye ekle</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.membership_applications_to_sandik_page', sandik_id=g.sandik.id) }}">
                      {% if g.sandik.applicant_web_users_set.count() > 0 %}
                      <b class="badge bg-info pull-right">{{ g.sandik.applicant_web_users_set.count() }}</b>
                      {% endif %}
                      <span>Onay bekleyenler</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="sandik-authorities-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-key"></i>
                  <span>Üye yetkileri</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.sandik_authorities_page', sandik_id=g.sandik.id) }}">
                      <span>Sandık yetkileri</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.authorized_web_users_of_sandik_page', sandik_id=g.sandik.id) }}">
                      <span>Yetkili üyeler</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="sandik-rules-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-gears"></i>
                  <span>Sandık kuralları</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.sandik_rules_page', sandik_id=g.sandik.id) }}">
                      <span>Sandık kuralları</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="sms-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-envelope"></i>
                  <span>Sms bildirimleri</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>...</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('sandik_page_bp.send_sms_page', sandik_id=g.sandik.id) }}">
                      <span>Sms gönder</span>
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}



              {% if current_user.is_admin()  %}
              <li class="line dk"></li>
              <!-- Site yönetimi menüleri-->
              <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span>Site yöneticisi</span>
              </li>
              <li id="web-users-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-users"></i>
                  <span>Site kullanıcıları</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>Site kullanıcıları</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('auth_page_bp.web_users_page') }}">
                      <span>Kullanıcı listesi</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="backup-dropdown">
                <a href="#" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                  <i class="fa-solid fa-database"></i>
                  <span>Site yedeği</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span>Site yedeği</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('backup_dw_bp.download_backup_page') }}">
                      <span>Site yedeğini indir</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('backup_page_bp.restore_backup_page') }}">
                      <span>Site yedeğini yükle</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="logs-dropdown">
                <a href="{{ url_for('general_page_bp.logs_page') }}">
                  <i class="fa-solid fa-book"></i>
                  <span>Seyir defteri</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
          <!-- nav -->
        </div>
      </div>
  </aside>
  <!-- / aside -->