<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="utf-8" />
  <title>{% block page_title %}{{ page_info.title }}{% endblock %} | {{ page_info.website_name }}</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="{{ url_for("static", filename="angulr_template/libs/jquery/bootstrap/dist/css/bootstrap.css") }}" type="text/css" />

  <link rel="stylesheet" href="{{ url_for("static", filename="angulr_template/css/font.css") }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for("static", filename="angulr_template/css/app.css") }}" type="text/css" />

  <!-- block css_block -->
  {% block css_block %}
  {% endblock %}
  <!-- finish -->

</head>
<body>
  <div class="app app-header-fixed ">
    <div class="container w-xxl w-auto-xs">
      {% block content_block %}
      {% endblock %}
    </div>
  </div>


  <script src="{{ url_for('static', filename='angulr_template/libs/jquery/jquery/dist/jquery.js') }}"></script>

  <!-- my custom -->
  <script src="{{ url_for('static', filename='my_custom/js/custom.js') }}"></script>
  <!-- block js_block -->
  {% block js_block %}
  {% endblock %}
  <!-- finish -->

</body>
</html>
