{% extends "utils/layout.html" %}

{% block css_block %}
<style>
  .i-switch i::before {
    background-color: red;
    border: 0px solid #f0f0f0;
  }
</style>
{% endblock %}

{% block js_block %}
<script src="{{ url_for('static', filename='my_custom/js/footable_filters.js') }}"></script>
<script>
jQuery(function($){
	$('#web-users-table').footable({
    components: {
      filtering: create_footable_basic_filter("is_active", "Onay durumu:", ["Onaylı", "Onaysız"])
    },
    "toggleColumn": "first",
    "paging": {
      "enabled": true,
      "size": 50
    },
    "filtering": {
      "enabled": true,
      "delay": 1,
      "dropdownTitle": "Şu sütunlarda ara:"
    },
    "sorting": {
      "enabled": true
    },
		"columns": [
			{ "name": "id", "title": "#"},
			{ "name": "email_address", "title": "Eposta adresi" },
			{ "name": "name_surname", "title": "İsim Soyisim" },
			{ "name": "is_active", "title": "Aktif mi", "visible": false, },
			{ "name": "detail", "title": "Onay", },
		],
		"rows": [
    {% for web_user in g.web_users %}
      {
        "id": "<span title='ID: {{ web_user.id }}'>{{ loop.index }}</span>",
        "email_address": "{{ web_user.email_address }}",
        "name_surname": "{{ web_user.name_surname }}",
        "is_active": "{{ "Onaylı" if web_user.is_active else "Onaysız" }}",
        "detail":`
          <label class="i-switch m-t-xs m-r">
            <a href="{% if web_user.is_active %}{{ url_for("auth_page_bp.block_web_user_page", web_user_id=web_user.id) }}{% else %}{{ url_for("auth_page_bp.confirm_web_user_page", web_user_id=web_user.id) }}{% endif %}">
              <input id="is_timed" name="is_timed" {{ "checked=''" if web_user.is_active else "" }} type="checkbox" value="y">
              <i></i>
            </a>
          </label>
        `
      },
    {% endfor %}
    ]
	});
});
</script>
{% endblock %}

{% block content_block %}
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{ page_info.title }}</h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ page_info.title }}
        <span class="pull-right">
{#          <a href="{{ url_for("cash_account_bp.create_cash_account_page") }}" class="btn btn-xs btn-primary">#}
{#            <i class="fa fa-plus"></i>#}
{#          </a>#}
        </span>
      </div>
      <div class="table table-responsive">
        <table class="table" id="web-users-table"></table>
      </div>
    </div>
  </div>
{% endblock %}