{% extends "utils/layout.html" %}

{% block css_block %}
<style>
  .i-switch i::before {
    background-color: red;
    border: 0px solid #f0f0f0;
  }
</style>
{% endblock %}

{% block js_block %}
<script src="{{ url_for('static', filename='my_custom/js/footable_filters.js') }}"></script>
<script>
jQuery(function($){
	$('#web-users-table').footable({
    components: {
      filtering: create_footable_basic_filter("is_active", "Onay durumu:", ["Onaylı", "Onaysız"], "Onaylı")
    },
    "toggleColumn": "first",
    "paging": {
      "enabled": true,
      "size": 50
    },
    "filtering": {
      "enabled": true,
      "delay": 1,
      "dropdownTitle": "Şu sütunlarda ara:"
    },
    "sorting": {
      "enabled": true
    },
		"columns": [
			{ "name": "id", "title": "#"},
			{ "name": "email_address", "title": "Eposta adresi" },
			{ "name": "name_surname", "title": "İsim Soyisim" },
			{ "name": "is_active", "title": "Aktif mi", "visible": false, },
			{ "name": "change_active", "title": "Onay", },
			{ "name": "actions", "title": "", },
		],
		"rows": [
    {% for web_user in g.web_users %}
      {
        "id": "<span title='ID: {{ web_user.id }}'>{{ loop.index }}</span>",
        "email_address": "{{ web_user.email_address }}",
        "name_surname": "{{ web_user.name_surname }}",
        "is_active": "{{ "Onaylı" if web_user.is_active else "Onaysız" }}",
        "change_active":`
          {% if web_user.is_active %}
            {{ macros.switch_button(is_checked=True, confirm_msg="Kullanıcıyı engellemek istediğinizden emin misiniz?", url=url_for("auth_page_bp.block_web_user_page", web_user_id=web_user.id)) }}
          {% else %}
            {{ macros.switch_button(is_checked=False, confirm_msg="Kullanıcıyı onaylamak istediğinizden emin misiniz?", url=url_for("auth_page_bp.confirm_web_user_page", web_user_id=web_user.id)) }}
          {% endif %}
        `,
        "actions": `
          <tr>
            <td>{{ macros.button(url=url_for('auth_page_bp.update_web_user_page', web_user_id=web_user.id), icon='fa fa-pencil', type='info', size='xs', title='Düzenle') }}</td>
          </tr>
        `,
      },
    {% endfor %}
    ]
	});
});
</script>
{% endblock %}

{% block content_block %}
  {{ macros.page_header(page_info.title) }}
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ page_info.title }}
      </div>
      <div class="table table-responsive">
        <table class="table" id="web-users-table"></table>
      </div>
    </div>
  </div>
{% endblock %}