{% extends "utils/layout.html" %}
{% import "utils/parts/macros.html" as macros%}

{% block css_block %}
<style>
  .i-switch i::before {
    background-color: red;
    border: 0px solid #f0f0f0;
  }
</style>
{% endblock %}

{% block js_block %}
  <script src="{{ url_for('static', filename='my_custom/js/footable_filters.js') }}"></script>
  <script>
    jQuery(function($){
      $('#sandik-authorities-table').footable({
        "toggleColumn": "first",
        "columns": [
          { "name": "index", "title": "#"},
          { "name": "name_surname", "title": "Kullanıcı" },
          { "name": "sandik_authority", "title": "Yetki" },
          { "name": "is_admin", "title": "Yönetici", "breakpoints": "xs sm", },
          { "name": "can_read", "title": "Okuma", "breakpoints": "xs sm", },
          { "name": "can_write", "title": "Yazma", "breakpoints": "xs sm",  },
          {% if current_user.is_authenticated and current_user.has_permission(sandik=g.sandik, permission="admin") %}
          { "name": "actions", "title": "", "breakpoints": "xs sm md" },
          {% endif %}
        ],
        "rows": [
        {% for wu in g.authorized_web_users %}
          {
            "index": `<span title='ID: {{ wu.id }}'>{{ loop.index }}</span>`,
            "name_surname": `<span title='E-posta: {{ wu.email_address }}'>{{ wu.name_surname }}</span>`,
            "sandik_authority": `{{ wu.get_sandik_authority(sandik=g.sandik).name }}`,
            "is_admin": `{{ macros.switch_button(is_checked=wu.get_sandik_authority(sandik=g.sandik).is_admin, is_disabled=True) }}`,
            "can_read": `{{ macros.switch_button(is_checked=wu.get_sandik_authority(sandik=g.sandik).can_read, is_disabled=True) }}`,
            "can_write": `{{ macros.switch_button(is_checked=wu.get_sandik_authority(sandik=g.sandik).can_write, is_disabled=True) }}`,
            {% if current_user.is_authenticated and current_user.has_permission(sandik=g.sandik, permission="admin") %}
            "actions": `
              <tr>
                <td>{{ macros.button(url="#", icon='fa fa-pencil', type='info', size='xs', title='Düzenle') }}</td>
                <td style='padding:5px;'></td>
                <td>{{ macros.button(url=url_for("sandik_page_bp.remove_authorized_from_sandik_page", sandik_id=g.sandik.id, web_user_id=wu.id), icon='fa fa-trash', type='danger', size='xs', title='Sil') }}</td>
              </tr>`,
            {% endif %}
          },
        {% endfor %}
        ]
      });

    });
  </script>
{% endblock %}

{% block content_block %}
  {{ macros.page_header(page_info.title) }}
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ page_info.title }}
        <span class="pull-right">
          <a href="{{ url_for('sandik_page_bp.add_authorized_to_sandik_page', sandik_id=g.sandik.id) }}" class="btn btn-xs btn-primary">
            <i class="fa fa-plus"></i>
          </a>
        </span>
      </div>
      <div class="table table-responsive">
        <table class="table" id="sandik-authorities-table"></table>
      </div>
    </div>
  </div>
{% endblock %}