{% extends "utils/layout.html" %}
{% import "utils/parts/macros.html" as macros%}

{% block js_block %}
  {{ JSGlue.include() }}
  <script src="{{ url_for('static', filename='my_custom/js/footable_filters.js') }}"></script>

  <script>
    jQuery(function($){

      $('#my-upcoming-payments-table').footable({
        "toggleColumn": "first",
        "paging": {
          "enabled": true,
          "size": 10
        },
        "columns": [
          { "name": "id", "title": "#", "breakpoints": "xs sm"},
          { "name": "term", "title": "Tarih" },
          { "name": "transaction_type", "title": "Tür", "breakpoints": "xs", },
          { "name": "amount", "title": "Ödenmemiş", },
          { "name": "is_fully_paid", "title": "Durum", "breakpoints": "xs sm md", },
          { "name": "detail", "title": "Detay", "breakpoints": "xs sm md", },
        ],
        "rows": [
        {% for p in g.summary_data.my_upcoming_payments %}
          {% if isinstance(p, Contribution) %}
            {% set id_prefix='c' %}
            {% set transaction_type='Aidat' %}
            {% set detail='' %}
          {% elif isinstance(p, Installment) %}
            {% set id_prefix='i' %}
            {% set transaction_type='Taksit (' + p.get_installment_no()|string+ '/' +p.debt_ref.number_of_installment|string+')' %}
            {% set detail='Borç: #'+p.debt_ref.id|string %}
          {% else %}
            {% set id_prefix='UNKNOWN' %}
            {% set transaction_type='UNKNOWN' %}
            {% set detail='' %}
          {% endif %}
          {
            "id": `<span title='ID: {{ id_prefix }}-{{ p.id }}'>{{ loop.index }}</span>`,
            "term": "{{ p.term }}",
            "transaction_type": `{{ transaction_type }}`,
            "amount": `<span title="Toplam miktar:\t{{ p.amount }} \nKalan miktar:\t{{ p.get_unpaid_amount() }}">{{ p.get_unpaid_amount() }} ₺</span>`,
            "is_fully_paid": `{% if p.is_fully_paid %}<span class="text-success">Ödendi</span>{% elif p.get_paid_amount()>0 %}<span class="text-danger">Eksik</span>{% else %}<span class="text-danger">Ödenmedi</span>{% endif %}`,
            "detail": "{{ detail }}",
          },
        {% endfor %}
        ]
      });

      $('#my-latest-money-transactions-table').footable({
        "toggleColumn": "first",
        "paging": {
          "enabled": true,
          "size": 10
        },
        "columns": [
            { "name": "id", "title": "#"},
            { "name": "date", "title": "Tarih" },
            { "name": "amount", "title": "Miktar", },
            { "name": "type", "title": "İşlem türü", },
            { "name": "detail", "title": "Detay", },
            { "name": "is_fully_distributed", "title": "Hepsi işleme sokulmuş mu?", "breakpoints": "xs sm md lg", },
            { "name": "creation_type", "title": "Oluşturulma türü", "breakpoints": "xs sm md lg", },
            { "name": "bank_transaction", "title": "Banka işlemi", "breakpoints": "xs sm md lg", },
        ],
        "rows": [
          {% for mt in g.summary_data.my_latest_money_transactions %}
            {
              "id": "<span title='ID: {{ mt.id }}'>{{ loop.index }}</span>",
              "date": "{{ mt.date.strftime("%Y-%m-%d") }}",
              "amount": "{{ mt.amount }} ₺",
              "type": {% if mt.type == MoneyTransaction.TYPE.REVENUE %}"Para girişi"{% elif mt.type == MoneyTransaction.TYPE.EXPENSE %}"Para çıkışı"{% else %}"---"{% endif %},
              "detail": "{{ mt.detail }}",
              "is_fully_distributed": "{{ "Evet" if mt.is_fully_distributed else "Hayır" }}",
              "creation_type": {% if mt.creation_type == MoneyTransaction.CREATION_TYPE.BY_MANUEL %}"Manuel"{% elif mt.creation_type == MoneyTransaction.CREATION_TYPE.BY_BANK_TRANSACTION %}"Otomatik"{% else %}"---"{% endif %},
              "bank_transaction": "{{ "Var" if mt.bank_transaction_ref else "Yok" }}",
            },
          {% endfor %}
        ]
      });

      // Hisseler tablosu
      $('#shares-table').footable({
        "toggleColumn": "first",
        "columns": [
          { "name": "order", "title": "Hisse", "classes": "text-center font-bold", },
          { "name": "total_contribution", "title": "Ödenen aidatlar", "classes": "text-center" },
          { "name": "total_debt", "title": "Alınan borçlar", "classes": "text-center", },
          { "name": "total_installment", "title": "Ödenen taksitler", "classes": "text-center",  },
          {% if g.type == "management" %}
          { "name": "final_status", "title": "Mil sonu", "classes": "text-center", },
          { "name": "actions", "title": "", "breakpoints": "xs sm md lg" },
          {% endif %}
        ],
        "rows": [
        {% for share in g.member.get_active_shares().order_by("lambda s: s.share_order_of_member") %}
          {
            "order": `<span title='ID: {{ share.id }}'>{{ share.share_order_of_member }}</span>`,
            "total_contribution": `{{ share.sum_of_paid_contributions() }}`,
            "total_debt": `{{ share.sum_of_debts() }}`,
            "total_installment": `{{ share.sum_of_paid_installments() }}`,
            {% if g.type == "management" %}
            "final_status": `xxx{{ share.sum_of_unpaid_amount_of_debts() }}`,
            "actions": `
              {% if share.is_active %}
                <tr>
                  <td>{{ macros.button(url="#", icon='fa fa-pencil', type='info', size='xs', title='Düzenle') }}</td>
                  <td style='padding:5px;'></td>
                  <td>{{ macros.button(url=url_for("sandik_page_bp.remove_share_from_member_page", sandik_id=g.sandik.id, member_id=g.member.id, share_id=share.id), icon='fa fa-trash', type='danger', size='xs', title='Hisseyi sil', confirm_msg='Hisseyi silmek istediğinizden emin misiniz?') }}</td>
                </tr>
              {% endif %}
            `,
            {% endif %}
          },
        {% endfor %}
        {
          "order": `<span title='Member ID: {{ g.member.id }}'>Üye Durumu</span>`,
          "total_contribution": `{{ g.member.sum_of_paid_contributions() }}`,
          "total_debt": `{{ g.member.sum_of_debts() }}`,
          "total_installment": `{{ g.member.sum_of_paid_installments() }}`,
          {% if g.type == "management" %}
          "final_status": `xxx{{ g.member.sum_of_unpaid_amount_of_debts() }}`,
          "actions": ``,
          {% endif %}
        },
        ]
      }).toggle();

      {% if g.type == "management" %}

        $('#waiting-trust-links-table').footable({
          "toggleColumn": "first",
          "columns": [
            { "name": "index", "title": "#", "classes": "text-center font-bold", },
            { "name": "name_surname", "title": "Üye", },
            {# { "name": "status", "title": "Durum", "classes": "text-center" }, #}
            { "name": "time", "title": "İstek tarihi", "classes": "text-center" },
          ],
          "rows": [
          {% for member in g.sandik.get_active_members().order_by("lambda m: m.web_user_ref.name_surname") %}
            {% set tr = g.member.get_trust_link_with_member(other_member=member) %}
            {% if g.member != member and (not tr or not tr.is_accepted()) %}
              {
                "index": `<span title='ID: {{ member.id }}'>{{ loop.index }}</span>`,
                "name_surname": `{{ member.web_user_ref.name_surname  }}`,
                {# "status": `{{ tr.status }}`, #}
                "time": `{% if tr %}{{ tr.time.strftime("%d.%m.%Y") }}{% else %}-{% endif %}`,
              },
            {% endif %}
          {% endfor %}
          ]
        });

        $('#accepted-trust-links-table').footable({
          "toggleColumn": "first",
          "columns": [
            { "name": "index", "title": "#", "classes": "text-center font-bold", },
            { "name": "name_surname", "title": "Üye", },
            {# { "name": "status", "title": "Durum", "classes": "text-center" }, #}
            { "name": "time", "title": "Tarih", "classes": "text-center" },
          ],
          "rows": [
          {% for tr in g.accepted_trust_links %}
            {
              "index": `<span title='ID: {{ tr.id }}'>{{ loop.index }}</span>`,
              "name_surname": `{{ tr.other_member(g.member).web_user_ref.name_surname  }}`,
              {# "status": `{{ tr.status }}`, #}
              "time": `{{ tr.time.strftime("%d.%m.%Y") }}`,
            },
          {% endfor %}
          ]
        });

      {% endif %}

    });

    $(document)
    .on("click", "#calculate-debts-detail", function (e){
      let detailed_debts_table = $("#detailed-debts-table");
      let amount = $("#amount-of-debt-to-be-calculated").val();
      if(!amount ){
        detailed_debts_table.html(`Lütfen borç miktarını giriniz!`);
        detailed_debts_table.show();
        return;
      }

      jQuery.ajax({
        url: Flask.url_for("transaction_api_bp.calculate_debts_detail_api", {sandik_id: {{ g.sandik.id }}, member_id: {{ g.member.id }}, amount: amount}),
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr);
          console.log(ajaxOptions);
          console.log( thrownError);
          detailed_debts_table.html(`Bir hatayla karşılaşıldı. Lütfen site yöneticisine haber veriniz ve daha sonra tekrar deneyiniz.`);
          detailed_debts_table.show();
          alert("")
        },
        success: function (data) {
          console.log(data);
          let html = "";
          if(data.result === true){

          html += `
            <table class="table">
              <thead>
                <tr class="row text-center font-bold">
                  <td colspan="4">Borç dağılım tablosu</td>
                </tr>
                <tr class="row text-center font-bold">
                  <td>Hisse</td>
                  <td>Miktar</td>
                  <td>Taksit</td>
                </tr>
              </thead>
              <tbody>
          `;

          for(let i=0; i<data.debts.length; i++){
            let debt = data.debts[i];
            html += `
              <tr class="row text-center">
                <td>Hisse ` + debt.share_order_of_member + `</td>
                <td>` + debt.amount + ` ₺</td>
                <td>` + debt.number_of_installment + `</td>
              </tr>
            `;
          }
          html += `
              </tbody>
            </table>
          `;
          }
          else {
            html = data.msg;
          }

          detailed_debts_table.html(html);
          detailed_debts_table.show();
        },
        async: false,
      });
    });
  </script>
{% endblock %}

{% block css_block %}
  <style>
    .table > tbody > tr > th, .table > tbody > tr > td {
      vertical-align: middle;
    }
  </style>
{% endblock %}

{% block content_block %}
  {{ macros.page_header(page_info.title) }}
  <div class="wrapper-md">

    <div class="row">

      <!-- Yaklaşan ödemelerim -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            {% if g.type == "member" %}
            <span>Yaklaşan ödemelerim</span>
            <span class="pull-right">
              <div class="dropdown" style="display: initial;">
                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="pay-unpaid-payments-buttons2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-repeat" aria-hidden="true"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="pay-unpaid-payments-buttons2">
                  <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_member_page', sandik_id=g.sandik.id) }}">Vadesi gelmiş ödemeleri öde</a></li>
                  <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_member_page', sandik_id=g.sandik.id, pay_future_payments='1') }}">Vadesi gelmemiş ödemeleri öde</a></li>
                </ul>
              </div>
            </span>
            {% elif g.type == "management" %}
            <span>Üyenin yaklaşan ödemeleri</span>
            <span class="pull-right">
              <div class="dropdown" style="display: initial;">
                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="pay-unpaid-payments-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-repeat" aria-hidden="true"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="pay-unpaid-payments-buttons">
                  <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_member_for_management_page', member_id=g.member.id, sandik_id=g.sandik.id) }}">Vadesi gelmiş ödemeleri öde</a></li>
                  <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_member_for_management_page', member_id=g.member.id, sandik_id=g.sandik.id, pay_future_payments='1') }}">Vadesi gelmemiş ödemeleri öde</a></li>
                </ul>
              </div>
            </span>
            {% endif %}
          </div>
          <div>
            <table id="my-upcoming-payments-table" class="table"></table>
          </div>
        </div>
      </div>

      <!-- Son işlemlerim -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            {% if g.type == "member" %}
            <span>Son işlemlerim</span>
            <span class="pull-right">
              {{ macros.button(url=url_for("transaction_page_bp.money_transactions_of_member_page", sandik_id=g.sandik.id), icon='fa fa-list', type='info', size='sm', title='Tüm para giriş/çıkışları') }}
            </span>
            {% elif g.type == "management" %}
            <span>Üyenin son işlemleri</span>
            <span class="pull-right">
              {{ macros.button(url=url_for("transaction_page_bp.money_transactions_of_member_for_management_page", member_id=g.member.id, sandik_id=g.sandik.id), icon='fa fa-list', type='info', size='sm', title='Tüm para giriş/çıkışları') }}
            </span>
            {% endif %}
          </div>
            <table id="my-latest-money-transactions-table" class="table"></table>
          </div>
        </div>

    </div>

    <div class="row">

      <!-- Üye son durumu -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            <span>Üye son durumu</span>
          </div>
          <div>
            <table id="member-final-status" class="table">
              <tbody>
              <tr class="row">
                <th>Ödenen aidat:</th>
                <td>{{ g.member.sum_of_paid_contributions() }} ₺</td>
              </tr>
              <tr class="row">
                <th>Alınan borç:</th>
                <td>{{ g.member.sum_of_debts() }} ₺</td>
              </tr>
              <tr class="row">
                <th>Ödenen taksit:</th>
                <td>{{ g.member.sum_of_paid_installments() }} ₺</td>
              </tr>
              <tr class="row">
                <th>İşleme konmamış:</th>
                <td>{{ g.member.total_of_undistributed_amount() }} ₺</td>
              </tr>
              <tr class="row">
                <th>Ay sonu:</th>
                <td title="Ay sonu ödemeleri: {{ g.summary_data.sum_of_unpaid_and_due_payments }}" class="font-bold {% if g.member.total_of_undistributed_amount() - g.summary_data.sum_of_unpaid_and_due_payments < 0 %}text-danger{% else %}text-success{% endif %}">{{ g.member.total_of_undistributed_amount() - g.summary_data.sum_of_unpaid_and_due_payments }} ₺</td>
              </tr>
              <tr class="row">
                <th>Mil sonu:</th>
                <td title="Mil sonu ödemeleri: {{ g.summary_data.sum_of_payments }}" class="font-bold {% if g.member.total_of_undistributed_amount() - g.summary_data.sum_of_payments < 0 %}text-danger{% else %}text-success{% endif %}">{{ g.member.total_of_undistributed_amount() - g.summary_data.sum_of_payments}} ₺</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            {% if g.type == "member" %}
            <span>Alabileceğim borç miktarı</span>
            {% elif g.type == "management" %}
            <span>Üyenin alabileceği borç miktarı</span>
            {% endif %}
          </div>
          <div>
            <table class="table">
              <tbody>
              <tr class="row text-center" onclick="$('#detailed-borrowing-table').toggle(); $('#detailed-borrowing-table-icon').toggleClass('fa-angle-down').toggleClass('fa-angle-up');">
                <th>Alabileceğim miktar:</th>
                <td class="font-bold text-primary">{{ catch_exception(g.member.max_amount_can_borrow, default_value="---", use_untreated_amount=False) }} ₺</td>
                <td>
                  <span>
                    <i class="fas fa-angle-down" id="detailed-borrowing-table-icon"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="4" id="detailed-borrowing-table" style="display: none;">
                  <table class="table">
                    <thead>
                      <tr class="row text-center font-bold">
                        <td>Hisse</td>
                        <td>Miktar</td>
                        <td>Taksit</td>
                      </tr>
                    </thead>
                    <tbody>
                    {% for share in g.member.get_active_shares().order_by('lambda s: s.share_order_of_member') %}
                    {% set max_debt_amount=catch_exception(sandik_preferences.remaining_debt_balance, default_value="---", sandik=share.sandik_ref, whose=share)  %}
                      <tr class="row text-center">
                        <td>Hisse {{ share.share_order_of_member }}</td>
                        <td>{{ max_debt_amount }} ₺</td>
                        <td>{{ catch_exception(sandik_preferences.max_number_of_installment, default_value="---", sandik=share.sandik_ref, amount=max_debt_amount) }}</td>
                      </tr>
                    {% endfor %}
                    {% set max_debt_amount=catch_exception(sandik_preferences.remaining_debt_balance, default_value="---", sandik=g.member.sandik_ref, whose=g.member) %}
                    <tr class="row text-center font-bold">
                      <td class="">Toplam</td>
                      <td>{{ max_debt_amount }} ₺</td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr class="row text-center" >
                <th><label for="amount-of-debt-to-be-calculated" class="font-bold">Borç hesapla:</label></th>
                <td><input class="form-control input-sm" id="amount-of-debt-to-be-calculated" name="amount" placeholder="1000"></td>
                <td>
                  <span class="btn btn-xs btn-info" id="calculate-debts-detail">
                    <i class="fa-solid fa-calculator"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="4" id="detailed-debts-table" style="display: none;" class="text-center">
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <!-- Üye bilgileri -->
      <div class="col-md-4 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            <span>Üye bilgileri</span>
            {% if g.type == "management" %}
            <span class="pull-right">
              {{ macros.button(url=url_for("sandik_page_bp.update_member_of_sandik_page", member_id=g.member.id, sandik_id=g.sandik.id), icon='fa fa-pencil', type='default', size='sm', title='Düzenle') }}
            </span>
            {% endif %}
          </div>
          <div>
            <table id="member-details" class="table">
              <tbody>
              <tr class="row">
                <th>Üye ismi:</th>
                <td title="{{ g.member.web_user_ref.email_address }}">{{ g.member.web_user_ref.name_surname }}</td>
              </tr>
              <tr class="row">
                <th>Sandık ismi:</th>
                <td>{{ g.member.sandik_ref.name }}</td>
              </tr>
              <tr class="row">
                <th>Üyelik tarihi:</th>
                <td>{{ g.member.date_of_membership.strftime("%d.%m.%Y") }}</td>
              </tr>
              <tr class="row">
                <th>Aidat miktarı:</th>
                <td>{{ g.member.contribution_amount|round(0) }}</td>
              </tr>
              <tr class="row">
                <th>Hisse sayısı:</th>
                <td>{{ g.member.shares_count() }}</td>
              </tr>
              {# <tr class="row"> #}
              {#   <th>İşlem sayısı:</th> #}
              {#   <td>{{ g.member.transactions_count() }}</td> #}
              {# </tr> #}
              <tr class="row">
                <th>Üyelik durumu:</th>
                <td>{% if g.member.is_active %}Aktif{% else %}Pasif{% endif %}</td>
              </tr>
              <tr class="row">
                <th>Telefon numarası:</th>
                <td>{{ g.member.web_user_ref.phone_number }}</td>
              </tr>
              <tr class="row">
                <th>Birincil<br>banka hesabı:</th>
                <td>
                  {% if g.member.web_user_ref.get_primary_bank_account() %}
                  <span title="Hesap başlığı">{{ g.member.web_user_ref.get_primary_bank_account().title }}</span><br>
                  <span title="Hesap sahibi">{{ g.member.web_user_ref.get_primary_bank_account().holder }}</span><br>
                  <span title="IBAN ">{{ g.member.web_user_ref.get_primary_bank_account().get_iban_string() }}</span>
                  {% endif %}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Güven halkam -->
      <div class="col-md-3 col-md-offset-1">

        <!-- Güven halkam -->
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            {% if g.sandik.is_type_with_trust_relationship() %}
              {% if g.type == "member" %}
              <span>Güven halkam</span>
              {% elif g.type == "management" %}
              <span>Üyenin güven halkası</span>
              {% endif %}
            {% else %}
            <span>Sandık son durumu</span>
            {% endif %}
          </div>
          <div>
            <table id="trusted-links-status" class="table">
              <tbody>
              <tr class="row">
                <th>Toplanan aidat:</th>
                <td>{{ g.summary_data.trusted_links.total_paid_contributions }} ₺</td>
              </tr>
              <tr class="row">
                <th>Verilen borç:</th>
                <td>{{ g.summary_data.trusted_links.total_loaned_amount }} ₺</td>
              </tr>
              <tr class="row">
                <th>Toplanan taksit:</th>
                <td>{{ g.summary_data.trusted_links.total_paid_installments }} ₺</td>
              </tr>
              <tr class="row">
                <th>Son durum:</th>
                <td>{{ g.summary_data.trusted_links.total_balance }} ₺</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Sandığa katkım -->
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            {% if g.type == "member" %}
            <span>Sandığa katkım</span>
            {% elif g.type == "management" %}
            <span>Üyenin sandığa katkısı</span>
            {% endif %}
          </div>

          {% if g.sandik.is_type_with_trust_relationship() %}
          <div>
            <table id="from-me-status" class="table">
              <tbody>
              <tr class="row">
                <th>Verilen borç:</th>
                <td>{{ g.member.get_loaned_amount() }} ₺</td>
              </tr>
              <tr class="row">
                <th>Toplanan taksit:</th>
                <td>{{ g.member.get_paid_amount_of_loaned() }} ₺</td>
              </tr>
              {% if current_user.is_admin() %}
                <tr class="row">
                  <th>Şu an ki bakiye:</th>
                  <td>{{ g.member.get_balance() }} ₺</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}

      </div>

    </div>


    <!-- Hisseler -->
    <div class="row">

      <!-- Hisseler -->
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">
            <span>Hisseler</span>
            <span class="pull-right">
              {% if g.type  %}
                {{ macros.button(url=url_for("sandik_page_bp.add_share_to_member_page", member_id=g.member.id, sandik_id=g.sandik.id), icon='glyphicon glyphicon-plus', type='default', size='sm', title='Düzenle') }}
              {% endif %}
              <span style="display: initial; padding-left: 8px; padding-right: 8px;" class="btn btn-sm btn-default" onclick="$('#shares-table').toggle(); $(this).find('>:first-child').toggleClass('fa-angle-down').toggleClass('fa-angle-up');">
                <i class="fas fa-angle-down"></i>
              </span>
            </span>
          </div>
          <div>
            <table id="shares-table" class="table"></table>
          </div>
        </div>
      </div>

    </div>

    {% if g.type == "management" %}

      {% if g.sandik.is_type_with_trust_relationship() %}
        <!-- Güven halkası -->
        <div class="row">

          <!-- Güven bağı istekleri -->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">
                <span>Güven bağı istekleri</span>
              </div>
              <div>
                <table id="waiting-trust-links-table" class="table"></table>
              </div>
            </div>
          </div>

          <!-- Güven halkam -->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">
                <span>Güven halkam</span>
              </div>
              <div>
                <table id="accepted-trust-links-table" class="table"></table>
              </div>
            </div>
          </div>

        </div>
      {% endif %}
    
    {% endif %}

  </div>
{% endblock %}