{% extends "utils/form_layout.html" %}

{% block js_block2 %}
{{ JSGlue.include() }}
<script>
  function fill_debt_options() {
    if($("#member").val()){
      jQuery.ajax({
        url: Flask.url_for("transaction_api_bp.get_unpaid_debts_of_member_api", {sandik_id: {{ g.sandik.id }},member: $("#member").val()}),
        success: function (data) {
          console.log(data);
          $('#debt')
            .find('option')
            .remove()
            .end()
            .append($('<option>', {
              value: "",
              text: 'Ödenecek borcu seçiniz...'
            }));
          $.each(data.debts, function (i, debt) {
          console.log("i:", i, "debt:", debt)
            $('#debt').append($('<option>', {
              value: debt.id,
              text : "H-" + debt.share_order_of_member + " Toplam: " + debt.amount + "₺ Kalan: " + debt.unpaid_amount + "₺ (" + debt.starting_term + " => " + debt.due_term + ")"
            }));
          });
        },
        async: false,
      });
    }
    else {
      $('#debt')
        .find('option')
        .remove()
        .end()
        .append($('<option>', {
          value: "",
          text: 'Lütfen önce üyeyi seçiniz...'
        }));
    }
  }

  $(document)
    .on("change", "#member", function (){
      fill_debt_options();
    })
    .on("ready", function (){
      {# TODO form sonucunda hata mesajı dönünce debt seçeneklerini python tarafından doldur, bu sayede en son hangisi seçiliyse o da seçilir kalır #}
      fill_debt_options();
    });
</script>
{% endblock %}