{% extends "utils/form_layout.html" %}

{% block js_block2 %}
  <script>
    function fill_shares_by_member() {
      let member_id = $("#member").val();
      if(member_id){
        let url = new URL('{{ url_for("sandik_api_bp.get_shares_of_member_api", sandik_id=g.sandik.id, _external=True)}}');
        url.searchParams.set("member", member_id);

        jQuery.ajax({
          url: url.href,
          error: function () {
            alert("Tekrar deneyiniz...");
          },
          success: function (data) {
            console.log(data);
            $('#share')
              .find('option')
              .remove()
              .end()
              .append($('<option>', {
                value: "",
                text: 'Hisse seçiniz...'
              }));
            $.each(data.shares, function (i, share) {
              $('#share').append($('<option>', {
                value: share.id,
                text : "Hisse "+ share.share_order_of_member.toString(10)
              }));
            });
          },
          async: false,
        });
      }
      else {

        $('#share')
          .find('option')
          .remove()
          .end()
          .append($('<option>', {
            value: "",
            text: 'Lütfen önce üyeyi seçiniz...'
          }));
      }
    }

    $(document)
      .on("change", "#member", function (e) {
        console.log($("#member").val());
        fill_shares_by_member();

      });
  </script>
{% endblock %}