{% extends "utils/layout.html" %}
{% import "utils/parts/macros.html" as utils_macros %}
{% import "transaction/parts/macros.html" as transaction_macros %}

{% block js_block %}
<script src="{{ url_for('static', filename='my_custom/js/footable_filters.js') }}"></script>
<script>
jQuery(function($){
  {{ transaction_macros.footable_js_of_payments(table_id="all-payments-table", table_type="all", payments=g.payments) }}
  {{ transaction_macros.footable_js_of_payments(table_id="due-and-unpaid-payments-table", table_type="due-and-unpaid", payments=g.due_and_unpaid_payments, rev_index=False) }}
});
</script>
{% endblock %}

{% block content_block %}
  {{ utils_macros.page_header(page_info.title) }}
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Vadesi gelmiş ve ödenmemiş ödemeler
        <span class="pull-right">
          {% if g.type == "member" %}
            <div class="dropdown" style="display: initial;">
              <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="pay-unpaid-payments-buttons2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-repeat" aria-hidden="true"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pay-unpaid-payments-buttons2">
                <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_member_page', sandik_id=g.sandik.id) }}">Vadesi gelmiş ödemeleri öde</a></li>
                <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_member_page', sandik_id=g.sandik.id, pay_future_payments='1') }}">Vadesi gelmemiş ödemeleri öde</a></li>
              </ul>
            </div>
          {% elif g.type == "management" %}
            <div class="dropdown" style="display: initial;">
              <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="pay-unpaid-payments-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-repeat" aria-hidden="true"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pay-unpaid-payments-buttons">
                <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_sandik_page', sandik_id=g.sandik.id) }}">Vadesi gelmiş ödemeleri öde</a></li>
                <li><a href="{{ url_for('transaction_page_bp.pay_unpaid_payments_from_untreated_amount_of_sandik_page', sandik_id=g.sandik.id, pay_future_payments='1') }}">Vadesi gelmemiş ödemeleri öde</a></li>
              </ul>
            </div>
          {% endif %}
        </span>
      </div>
      <div class="table table-responsive">
        <table class="table table-striped " id="due-and-unpaid-payments-table"></table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Bütün ödemeler
        <span class="pull-right">
          {# {{ url_for('transaction_page_bp.add_sandik_transaction_by_manager_page', sandik_id=g.sandik.id) }} #}
          <a href="#" class="btn btn-xs btn-primary">
            <i class="fa fa-plus"></i>
          </a>
        </span>
      </div>
      <div class="table table-responsive">
        <table class="table table-striped " id="all-payments-table"></table>
      </div>
    </div>
  </div>
{% endblock %}
